
body{ background-image: url(mybackground.jpg) }

#nav-table { width: 1024px }

#background { width: 1024px }

#background { background-color: white; width: 1024px; }

#background1 { background-color: white; width: 1024; }
