
body{ background-image: url(mybackground.jpg) }


h1 { font-family: Copperplate;
     font-size: 45px;
}

p { font-family: Arial, monospace;
    font-size: 16px;  
}

#nav-table { width: 1024px }

#background { width: 1024px }

#background { background-color: white; width: 1024px; }

