html { background-color: black }

h1 { color: black; 
     font-family: Copperplate;
     font-size: 45px; }

h3{ border: solid;
    border-color: black;}

p { color: black;
    font-family: Arial, monospace;
    font-size: 18px; 
    text-align: center; }

#nav-table { width: 1024px; }
#body-para { width: 1024px }
#background-center{      
     background: aliceblue;
     padding-top: auto;
     padding-bottom: 75%;
     padding-right: 140px;
     padding-left: 15px;
     border-radius: 15px; } 
