body { background-color: #000000; }


 
h1 { color: white; 
     font-family: Copperplate;
     font-size: 24;
}

p { color: white;
    font-family: Copperplate;
    font-size: 12;  
}

#nav-table { width: 1024px }

#body-para { width: 1024px }
