html { background-color: #000000; }

h1 { color: black; 
     font-family: Copperplate;
     font-size: 45px; 
     text-align: center; }

h3{ border: solid;
    border-color: black;}

p { color: black;
    font-family: Arial, monospace;
    font-size: 18px;
    text-align: center; }

#dancing { float: left;}
#racing { float: right; }
#dancing2 { float: left; }
#racing2 {float: right; }
#decision-tree {float: left;}
#mouseFollow {float: right;}
#zoo {float: right;}
    

#nav-table { width: 1024px; }
#body-para { width: 1024px; }
#background-center{      
    background-color: aliceblue;
    padding-top: auto;
    padding-bottom: 100%;
    padding-right: 140px;
    padding-left: 15px;
    border-radius: 15px; } 
